h1 {
  margin-top: 0;
}
#body {
  background-color: rgb(118, 118, 118);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listItem {
  display: flex;
  align-items: center;
  width: 400px;
  justify-content: space-around;
}

.checkAndText {
  width: 370px;
  display: flex;
  align-items: center;
}

.checkAndText p {
  padding-left: 15px;
}

.checkAndText input {
  cursor: pointer;
}

#closeButton {
 cursor:pointer
}

.completed {

}